.messageContainer {
    width: 65vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  .header {
    position: fixed;  
    top: 0;          
    left: 25%;
    width: 75%;
    height: 13vh;
    background-color: #001F8B;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 3vh;
    overflow: hidden;
}

.messages {
    flex: 1;
    overflow-y: auto;
    padding-right: 10px;
    margin-top: 13vh;
}


  .groupIcon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-left: 25px;
  }
  .groupName{
    margin-left: 20px;
    color: #ffffff;
    font-weight: 500;
  }
  .message {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    width: 65vw;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  .text{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
  }
  .timestamp {
    font-size: 16px;
    color: #353535;
    font-weight: 500;
    margin-bottom: 5px;
    text-align: right;
    padding-top: 15px;
  }
  
  .inputcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 75%;
    background-color:#001F8B;
    position: fixed;
    bottom: 0;
    padding: 10px;
  }
  .inputcontainer textarea{
    border: none;
  outline: none;
  border-radius: 1vh;
  font-size: large;
  padding: 1vh;
  height: 25vh;
  width: 70vw;
  }
  .inputcontainer img{
    position: absolute;
  bottom: 4vh;
  right: 6vh;
  width: 20px;
  height: 20px;
  }
  .backButtonImage {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    cursor: pointer;
  }

  @media (max-width: 580px){
    .header{
      width: 100%;
      left: 1%;
    }
    .inputcontainer{
      width: 100vw;
      height: 30vh;
    }
    .inputcontainer textarea{
      width: 90vw;
    }
  }


  @media (max-width: 780px) {
    .header{
      left: 0%;
      width: 100%;
    }
    .inputcontainer{
      width: 100vw;
      height: 33vh;
    }
    .inputcontainer textarea{
      width: 90vw;
      height:25vh;
    }
    .inputcontainer img{
      top:70%;
    }
  }